/**************** http://spritegen.website-performance.org/ *****************/
.flags {}
.flags li {
	display:inline-block;
	padding:10px 1%;
}
.flags [class^="i-"] {
	display:block;
	background:url("../images/flags64.png") no-repeat ;
	width:64px;
	height:64px;
	margin: 0 auto;
}
.country_name {
	display:block;
	text-align:center;
}
.flags .i-af{ background-position: 0 -74px; width: 64px; height: 64px; } 
.flags .i-aland{ background-position: 0 -148px; width: 64px; height: 64px; } 
.flags .i-al{ background-position: 0 -222px; width: 64px; height: 64px; } 
.flags .i-alderney{ background-position: 0 -296px; width: 64px; height: 64px; } 
.flags .i-dz{ background-position: 0 -370px; width: 64px; height: 64px; } 
.flags .i-ds{ background-position: 0 -444px; width: 64px; height: 64px; } 
.flags .i-ad{ background-position: 0 -518px; width: 64px; height: 64px; } 
.flags .i-ao{ background-position: 0 -592px; width: 64px; height: 64px; } 
.flags .i-ai{ background-position: 0 -666px; width: 64px; height: 64px; } 
.flags .i-aq{ background-position: 0 -740px; width: 64px; height: 64px; } 
.flags .i-ag{ background-position: 0 -814px; width: 64px; height: 64px; } 
.flags .i-ar{ background-position: 0 -888px; width: 64px; height: 64px; } 
.flags .i-am{ background-position: 0 -962px; width: 64px; height: 64px; } 
.flags .i-aw{ background-position: 0 -1036px; width: 64px; height: 64px; } 
.flags .i-au{ background-position: 0 -1110px; width: 64px; height: 64px; } 
.flags .i-at{ background-position: 0 -1184px; width: 64px; height: 64px; } 
.flags .i-az{ background-position: 0 -1258px; width: 64px; height: 64px; } 
.flags .i-bs{ background-position: 0 -1332px; width: 64px; height: 64px; } 
.flags .i-bh{ background-position: 0 -1406px; width: 64px; height: 64px; } 
.flags .i-bd{ background-position: 0 -1480px; width: 64px; height: 64px; } 
.flags .i-bb{ background-position: 0 -1554px; width: 64px; height: 64px; } 
.flags .i-basquecountry{ background-position: 0 -1628px; width: 64px; height: 64px; } 
.flags .i-by{ background-position: 0 -1702px; width: 64px; height: 64px; } 
.flags .i-be{ background-position: 0 -1776px; width: 64px; height: 64px; } 
.flags .i-bz{ background-position: 0 -1850px; width: 64px; height: 64px; } 
.flags .i-bj{ background-position: 0 -1924px; width: 64px; height: 64px; } 
.flags .i-bm{ background-position: -74px 0; width: 64px; height: 64px; } 
.flags .i-bt{ background-position: -74px -74px; width: 64px; height: 64px; } 
.flags .i-bo{ background-position: -74px -148px; width: 64px; height: 64px; } 
.flags .i-bonaire-sinteustatius-and-saba{ background-position: -74px -222px; width: 64px; height: 64px; } 
.flags .i-ba{ background-position: -74px -296px; width: 64px; height: 64px; } 
.flags .i-bw{ background-position: -74px -370px; width: 64px; height: 64px; } 
.flags .i-bv{ background-position: -74px -444px; width: 64px; height: 64px; } 
.flags .i-br{ background-position: -74px -518px; width: 64px; height: 64px; } 
.flags .i-io{ background-position: -74px -592px; width: 64px; height: 64px; } 
.flags .i-bn{ background-position: -74px -666px; width: 64px; height: 64px; } 
.flags .i-bg{ background-position: -74px -740px; width: 64px; height: 64px; } 
.flags .i-bf{ background-position: -74px -814px; width: 64px; height: 64px; } 
.flags .i-bi{ background-position: -74px -888px; width: 64px; height: 64px; } 
.flags .i-cm{ background-position: -74px -962px; width: 64px; height: 64px; } 
.flags .i-cis{ background-position: -74px -1036px; width: 64px; height: 64px; } 
.flags .i-kh{ background-position: -74px -1110px; width: 64px; height: 64px; } 
.flags .i-cm{ background-position: -74px -1184px; width: 64px; height: 64px; } 
.flags .i-ca{ background-position: -74px -1258px; width: 64px; height: 64px; } 
.flags .i-cv{ background-position: -74px -1332px; width: 64px; height: 64px; } 
.flags .i-catalonia{ background-position: -74px -1406px; width: 64px; height: 64px; } 
.flags .i-ky{ background-position: -74px -1480px; width: 64px; height: 64px; } 
.flags .i-cf{ background-position: -74px -1554px; width: 64px; height: 64px; } 
.flags .i-td{ background-position: -74px -1628px; width: 64px; height: 64px; } 
.flags .i-cl{ background-position: -74px -1702px; width: 64px; height: 64px; } 
.flags .i-cn{ background-position: -74px -1776px; width: 64px; height: 64px; } 
.flags .i-cx{ background-position: -74px -1850px; width: 64px; height: 64px; } 
.flags .i-cc{ background-position: -74px -1924px; width: 64px; height: 64px; } 
.flags .i-co{ background-position: -148px 0; width: 64px; height: 64px; } 
.flags .i-commonwealth{ background-position: -148px -74px; width: 64px; height: 64px; } 
.flags .i-km{ background-position: -148px -148px; width: 64px; height: 64px; } 
.flags .i-congo-brazzaville{ background-position: -148px -222px; width: 64px; height: 64px; } 
.flags .i-cg{ background-position: -148px -296px; width: 64px; height: 64px; } 
.flags .i-ck{ background-position: -148px -370px; width: 64px; height: 64px; } 
.flags .i-cr{ background-position: -148px -444px; width: 64px; height: 64px; } 
.flags .i-ci{ background-position: -148px -518px; width: 64px; height: 64px; } 
.flags .i-hr{ background-position: -148px -592px; width: 64px; height: 64px; } 
.flags .i-cu{ background-position: -148px -666px; width: 64px; height: 64px; } 
.flags .i-curacao{ background-position: -148px -740px; width: 64px; height: 64px; } 
.flags .i-cy{ background-position: -148px -814px; width: 64px; height: 64px; } 
.flags .i-cz{ background-position: -148px -888px; width: 64px; height: 64px; } 
.flags .i-dk{ background-position: -148px -962px; width: 64px; height: 64px; } 
.flags .i-dj{ background-position: -148px -1036px; width: 64px; height: 64px; } 
.flags .i-dm{ background-position: -148px -1110px; width: 64px; height: 64px; } 
.flags .i-do{ background-position: -148px -1184px; width: 64px; height: 64px; } 
.flags .i-ec{ background-position: -148px -1258px; width: 64px; height: 64px; } 
.flags .i-eg{ background-position: -148px -1332px; width: 64px; height: 64px; } 
.flags .i-sv{ background-position: -148px -1406px; width: 64px; height: 64px; } 
.flags .i-england{ background-position: -148px -1480px; width: 64px; height: 64px; } 
.flags .i-gq{ background-position: -148px -1554px; width: 64px; height: 64px; } 
.flags .i-er{ background-position: -148px -1628px; width: 64px; height: 64px; } 
.flags .i-ee{ background-position: -148px -1702px; width: 64px; height: 64px; } 
.flags .i-et{ background-position: -148px -1776px; width: 64px; height: 64px; } 
.flags .i-europeanunion{ background-position: -148px -1850px; width: 64px; height: 64px; } 
.flags .i-fao{ background-position: -148px -1924px; width: 64px; height: 64px; } 
.flags .i-fk{ background-position: -222px 0; width: 64px; height: 64px; } 
.flags .i-fo{ background-position: -222px -74px; width: 64px; height: 64px; } 
.flags .i-fj{ background-position: -222px -148px; width: 64px; height: 64px; } 
.flags .i-fi{ background-position: -222px -222px; width: 64px; height: 64px; } 
.flags .i-fr{ background-position: -222px -296px; width: 64px; height: 64px; } 
.flags .i-gf{ background-position: -222px -370px; width: 64px; height: 64px; } 
.flags .i-tf{ background-position: -222px -444px; width: 64px; height: 64px; } 
.flags .i-ga{ background-position: -222px -518px; width: 64px; height: 64px; } 
.flags .i-galicia{ background-position: -222px -592px; width: 64px; height: 64px; } 
.flags .i-gm{ background-position: -222px -666px; width: 64px; height: 64px; } 
.flags .i-ge{ background-position: -222px -740px; width: 64px; height: 64px; } 
.flags .i-de{ background-position: -222px -814px; width: 64px; height: 64px; } 
.flags .i-gh{ background-position: -222px -888px; width: 64px; height: 64px; } 
.flags .i-gi{ background-position: -222px -962px; width: 64px; height: 64px; } 
.flags .i-gr{ background-position: -222px -1036px; width: 64px; height: 64px; } 
.flags .i-gl{ background-position: -222px -1110px; width: 64px; height: 64px; } 
.flags .i-gd{ background-position: -222px -1184px; width: 64px; height: 64px; } 
.flags .i-gp{ background-position: -222px -1258px; width: 64px; height: 64px; } 
.flags .i-gu{ background-position: -222px -1332px; width: 64px; height: 64px; } 
.flags .i-gt{ background-position: -222px -1406px; width: 64px; height: 64px; } 
.flags .i-guernsey{ background-position: -222px -1480px; width: 64px; height: 64px; } 
.flags .i-gw{ background-position: -222px -1554px; width: 64px; height: 64px; } 
.flags .i-gn{ background-position: -222px -1628px; width: 64px; height: 64px; } 
.flags .i-gy{ background-position: -222px -1702px; width: 64px; height: 64px; } 
.flags .i-ht{ background-position: -222px -1776px; width: 64px; height: 64px; } 
.flags .i-hm{ background-position: -222px -1850px; width: 64px; height: 64px; } 
.flags .i-hn{ background-position: -222px -1924px; width: 64px; height: 64px; } 
.flags .i-hk{ background-position: -296px 0; width: 64px; height: 64px; } 
.flags .i-hu{ background-position: -296px -74px; width: 64px; height: 64px; } 
.flags .i-iaea{ background-position: -296px -148px; width: 64px; height: 64px; } 
.flags .i-iho{ background-position: -296px -222px; width: 64px; height: 64px; } 
.flags .i-is{ background-position: -296px -296px; width: 64px; height: 64px; } 
.flags .i-in{ background-position: -296px -370px; width: 64px; height: 64px; } 
.flags .i-id{ background-position: -296px -444px; width: 64px; height: 64px; } 
.flags .i-ir{ background-position: -296px -518px; width: 64px; height: 64px; } 
.flags .i-iq{ background-position: -296px -592px; width: 64px; height: 64px; } 
.flags .i-ie{ background-position: -296px -666px; width: 64px; height: 64px; } 
.flags .i-islamicconference{ background-position: -296px -740px; width: 64px; height: 64px; } 
.flags .i-isleofman{ background-position: -296px -814px; width: 64px; height: 64px; } 
.flags .i-il{ background-position: -296px -888px; width: 64px; height: 64px; } 
.flags .i-it{ background-position: -296px -962px; width: 64px; height: 64px; } 
.flags .i-jm{ background-position: -296px -1036px; width: 64px; height: 64px; } 
.flags .i-jp{ background-position: -296px -1110px; width: 64px; height: 64px; } 
.flags .i-jersey{ background-position: -296px -1184px; width: 64px; height: 64px; } 
.flags .i-jo{ background-position: -296px -1258px; width: 64px; height: 64px; } 
.flags .i-kz{ background-position: -296px -1332px; width: 64px; height: 64px; } 
.flags .i-ke{ background-position: -296px -1406px; width: 64px; height: 64px; } 
.flags .i-ki{ background-position: -296px -1480px; width: 64px; height: 64px; } 
.flags .i-kosovo{ background-position: -296px -1554px; width: 64px; height: 64px; } 
.flags .i-kw{ background-position: -296px -1628px; width: 64px; height: 64px; } 
.flags .i-kg{ background-position: -296px -1702px; width: 64px; height: 64px; } 
.flags .i-la{ background-position: -296px -1776px; width: 64px; height: 64px; } 
.flags .i-lv{ background-position: -296px -1850px; width: 64px; height: 64px; } 
.flags .i-lb{ background-position: -296px -1924px; width: 64px; height: 64px; } 
.flags .i-ls{ background-position: -370px 0; width: 64px; height: 64px; } 
.flags .i-lr{ background-position: -370px -74px; width: 64px; height: 64px; } 
.flags .i-ly{ background-position: -370px -148px; width: 64px; height: 64px; } 
.flags .i-li{ background-position: -370px -222px; width: 64px; height: 64px; } 
.flags .i-lt{ background-position: -370px -296px; width: 64px; height: 64px; } 
.flags .i-lu{ background-position: -370px -370px; width: 64px; height: 64px; } 
.flags .i-mo{ background-position: -370px -444px; width: 64px; height: 64px; } 
.flags .i-mk{ background-position: -370px -518px; width: 64px; height: 64px; } 
.flags .i-mg{ background-position: -370px -592px; width: 64px; height: 64px; } 
.flags .i-mw{ background-position: -370px -666px; width: 64px; height: 64px; } 
.flags .i-my{ background-position: -370px -740px; width: 64px; height: 64px; } 
.flags .i-mv{ background-position: -370px -814px; width: 64px; height: 64px; } 
.flags .i-ml{ background-position: -370px -888px; width: 64px; height: 64px; } 
.flags .i-mt{ background-position: -370px -962px; width: 64px; height: 64px; } 
.flags .i-mh{ background-position: -370px -1036px; width: 64px; height: 64px; } 
.flags .i-mq{ background-position: -370px -1110px; width: 64px; height: 64px; } 
.flags .i-mr{ background-position: -370px -1184px; width: 64px; height: 64px; } 
.flags .i-mu{ background-position: -370px -1258px; width: 64px; height: 64px; } 
.flags .i-ty{ background-position: -370px -1332px; width: 64px; height: 64px; } 
.flags .i-mx{ background-position: -370px -1406px; width: 64px; height: 64px; } 
.flags .i-fm{ background-position: -370px -1480px; width: 64px; height: 64px; } 
.flags .i-md{ background-position: -370px -1554px; width: 64px; height: 64px; } 
.flags .i-mc{ background-position: -370px -1628px; width: 64px; height: 64px; } 
.flags .i-mn{ background-position: -370px -1702px; width: 64px; height: 64px; } 
.flags .i-me{ background-position: -370px -1776px; width: 64px; height: 64px; } 
.flags .i-ms{ background-position: -370px -1850px; width: 64px; height: 64px; } 
.flags .i-ma{ background-position: -370px -1924px; width: 64px; height: 64px; } 
.flags .i-mz{ background-position: -444px 0; width: 64px; height: 64px; } 
.flags .i-mm{ background-position: -444px -74px; width: 64px; height: 64px; } 
.flags .i-nato{ background-position: -444px -148px; width: 64px; height: 64px; } 
.flags .i-na{ background-position: -444px -222px; width: 64px; height: 64px; } 
.flags .i-nr{ background-position: -444px -296px; width: 64px; height: 64px; } 
.flags .i-np{ background-position: -444px -370px; width: 64px; height: 64px; } 
.flags .i-an{ background-position: -444px -444px; width: 64px; height: 64px; } 
.flags .i-nl{ background-position: -444px -518px; width: 64px; height: 64px; } 
.flags .i-nz{ background-position: -444px -592px; width: 64px; height: 64px; } 
.flags .i-nc{ background-position: -444px -666px; width: 64px; height: 64px; } 
.flags .i-ni{ background-position: -444px -740px; width: 64px; height: 64px; } 
.flags .i-ne{ background-position: -444px -814px; width: 64px; height: 64px; } 
.flags .i-ng{ background-position: -444px -888px; width: 64px; height: 64px; } 
.flags .i-nu{ background-position: -444px -962px; width: 64px; height: 64px; } 
.flags .i-nf{ background-position: -444px -1036px; width: 64px; height: 64px; } 
.flags .i-kp{ background-position: -444px -1110px; width: 64px; height: 64px; } 
.flags .i-cy{ background-position: -444px -1184px; width: 64px; height: 64px; } 
.flags .i-northernireland{ background-position: -444px -1258px; width: 64px; height: 64px; } 
.flags .i-mp{ background-position: -444px -1332px; width: 64px; height: 64px; } 
.flags .i-no{ background-position: -444px -1406px; width: 64px; height: 64px; } 
.flags .i-oas{ background-position: -444px -1480px; width: 64px; height: 64px; } 
.flags .i-oecd{ background-position: -444px -1554px; width: 64px; height: 64px; } 
.flags .i-opec{ background-position: -444px -1628px; width: 64px; height: 64px; } 
.flags .i-olimpicmovement{ background-position: -444px -1702px; width: 64px; height: 64px; } 
.flags .i-om{ background-position: -444px -1776px; width: 64px; height: 64px; } 
.flags .i-pk{ background-position: -444px -1850px; width: 64px; height: 64px; } 
.flags .i-pw{ background-position: -444px -1924px; width: 64px; height: 64px; } 
.flags .i-ps{ background-position: -518px 0; width: 64px; height: 64px; } 
.flags .i-pa{ background-position: -518px -74px; width: 64px; height: 64px; } 
.flags .i-pg{ background-position: -518px -148px; width: 64px; height: 64px; } 
.flags .i-py{ background-position: -518px -222px; width: 64px; height: 64px; } 
.flags .i-pe{ background-position: -518px -296px; width: 64px; height: 64px; } 
.flags .i-ph{ background-position: -518px -370px; width: 64px; height: 64px; } 
.flags .i-pn{ background-position: -518px -444px; width: 64px; height: 64px; } 
.flags .i-pl{ background-position: -518px -518px; width: 64px; height: 64px; } 
.flags .i-pt{ background-position: -518px -592px; width: 64px; height: 64px; } 
.flags .i-pr{ background-position: -518px -666px; width: 64px; height: 64px; } 
.flags .i-qa{ background-position: -518px -740px; width: 64px; height: 64px; } 
.flags .i-quebec{ background-position: -518px -814px; width: 64px; height: 64px; } 
.flags .i-redcross{ background-position: -518px -888px; width: 64px; height: 64px; } 
.flags .i-re{ background-position: -518px -962px; width: 64px; height: 64px; } 
.flags .i-ro{ background-position: -518px -1036px; width: 64px; height: 64px; } 
.flags .i-ru{ background-position: -518px -1110px; width: 64px; height: 64px; } 
.flags .i-rw{ background-position: -518px -1184px; width: 64px; height: 64px; } 
.flags .i-bl{ background-position: -518px -1258px; width: 64px; height: 64px; } 
.flags .i-sh{ background-position: -518px -1332px; width: 64px; height: 64px; } 
.flags .i-lc{ background-position: -518px -1406px; width: 64px; height: 64px; } 
.flags .i-mf{ background-position: -518px -1480px; width: 64px; height: 64px; } 
.flags .i-pm{ background-position: -518px -1554px; width: 64px; height: 64px; } 
.flags .i-ws{ background-position: -518px -1628px; width: 64px; height: 64px; } 
.flags .i-sm{ background-position: -518px -1702px; width: 64px; height: 64px; } 
.flags .i-st{ background-position: -518px -1776px; width: 64px; height: 64px; } 
.flags .i-sa{ background-position: -518px -1850px; width: 64px; height: 64px; } 
.flags .i-scotland{ background-position: -518px -1924px; width: 64px; height: 64px; } 
.flags .i-sn{ background-position: -592px 0; width: 64px; height: 64px; } 
.flags .i-yu{ background-position: -592px -74px; width: 64px; height: 64px; } 
.flags .i-sc{ background-position: -592px -148px; width: 64px; height: 64px; } 
.flags .i-sl{ background-position: -592px -222px; width: 64px; height: 64px; } 
.flags .i-sg{ background-position: -592px -296px; width: 64px; height: 64px; } 
.flags .i-sx{ background-position: -592px -370px; width: 64px; height: 64px; } 
.flags .i-sk{ background-position: -592px -444px; width: 64px; height: 64px; } 
.flags .i-si{ background-position: -592px -518px; width: 64px; height: 64px; } 
.flags .i-sb{ background-position: -592px -592px; width: 64px; height: 64px; } 
.flags .i-so{ background-position: -592px -666px; width: 64px; height: 64px; } 
.flags .i-sb{ background-position: -592px -740px; width: 64px; height: 64px; } 
.flags .i-za{ background-position: -592px -814px; width: 64px; height: 64px; } 
.flags .i-gs{ background-position: -592px -888px; width: 64px; height: 64px; } 
.flags .i-kr{ background-position: -592px -962px; width: 64px; height: 64px; } 
.flags .i-ss{ background-position: -592px -1036px; width: 64px; height: 64px; } 
.flags .i-es{ background-position: -592px -1110px; width: 64px; height: 64px; } 
.flags .i-lk{ background-position: -592px -1184px; width: 64px; height: 64px; } 
.flags .i-kn{ background-position: -592px -1258px; width: 64px; height: 64px; } 
.flags .i-vc{ background-position: -592px -1332px; width: 64px; height: 64px; } 
.flags .i-sd{ background-position: -592px -1406px; width: 64px; height: 64px; } 
.flags .i-sr{ background-position: -592px -1480px; width: 64px; height: 64px; } 
.flags .i-sj{ background-position: -592px -1554px; width: 64px; height: 64px; } 
.flags .i-sz{ background-position: -592px -1628px; width: 64px; height: 64px; } 
.flags .i-se{ background-position: -592px -1702px; width: 64px; height: 64px; } 
.flags .i-ch{ background-position: -592px -1776px; width: 64px; height: 64px; } 
.flags .i-sy{ background-position: -592px -1850px; width: 64px; height: 64px; } 
.flags .i-pf{ background-position: -592px -1924px; width: 64px; height: 64px; } 
.flags .i-tw{ background-position: -666px 0; width: 64px; height: 64px; } 
.flags .i-tj{ background-position: -666px -74px; width: 64px; height: 64px; } 
.flags .i-tz{ background-position: -666px -148px; width: 64px; height: 64px; } 
.flags .i-th{ background-position: -666px -222px; width: 64px; height: 64px; } 
.flags .i-tl{ background-position: -666px -296px; width: 64px; height: 64px; } 
.flags .i-tg{ background-position: -666px -370px; width: 64px; height: 64px; } 
.flags .i-tk{ background-position: -666px -444px; width: 64px; height: 64px; } 
.flags .i-to{ background-position: -666px -518px; width: 64px; height: 64px; } 
.flags .i-tt{ background-position: -666px -592px; width: 64px; height: 64px; } 
.flags .i-tristandacunha{ background-position: -666px -666px; width: 64px; height: 64px; } 
.flags .i-tn{ background-position: -666px -740px; width: 64px; height: 64px; } 
.flags .i-tr{ background-position: -666px -814px; width: 64px; height: 64px; } 
.flags .i-tm{ background-position: -666px -888px; width: 64px; height: 64px; } 
.flags .i-tc{ background-position: -666px -962px; width: 64px; height: 64px; } 
.flags .i-tv{ background-position: -666px -1036px; width: 64px; height: 64px; } 
.flags .i-ug{ background-position: -666px -1110px; width: 64px; height: 64px; } 
.flags .i-ua{ background-position: -666px -1184px; width: 64px; height: 64px; } 
.flags .i-ae{ background-position: -666px -1258px; width: 64px; height: 64px; } 
.flags .i-gb{ background-position: -666px -1332px; width: 64px; height: 64px; } 
.flags .i-us{ background-position: -666px -1406px; width: 64px; height: 64px; } 
.flags .i-united-nations{ background-position: -666px -1480px; width: 64px; height: 64px; } 
.flags .i-uy{ background-position: -666px -1554px; width: 64px; height: 64px; } 
.flags .i-uz{ background-position: -666px -1628px; width: 64px; height: 64px; } 
.flags .i-vu{ background-position: -666px -1702px; width: 64px; height: 64px; } 
.flags .i-va{ background-position: -666px -1776px; width: 64px; height: 64px; } 
.flags .i-ve{ background-position: -666px -1850px; width: 64px; height: 64px; } 
.flags .i-vn{ background-position: -666px -1924px; width: 64px; height: 64px; } 
.flags .i-vg{ background-position: -740px 0; width: 64px; height: 64px; } 
.flags .i-vi{ background-position: -740px -74px; width: 64px; height: 64px; } 
.flags .i-wales{ background-position: -740px -148px; width: 64px; height: 64px; } 
.flags .i-wf{ background-position: -740px -222px; width: 64px; height: 64px; } 
.flags .i-eh{ background-position: -740px -296px; width: 64px; height: 64px; } 
.flags .i-ye{ background-position: -740px -370px; width: 64px; height: 64px; } 
.flags .i-zm{ background-position: -740px -444px; width: 64px; height: 64px; } 
.flags .i-zw{ background-position: -740px -518px; width: 64px; height: 64px; } 
